@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

#root{
    font-family: "Cabin Condensed", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* HEADER  */

.navbar{
    background-color: #fdd5e1;
    font-size: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border-bottom: 1px solid rgba(215, 29, 70); */
    box-shadow: 0 0 17px #d71d4699;
}
.navbar > .logo > img{
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar > .nav-items{
    cursor: pointer;
    width: 55%;
    margin-left: 24%;
}
.navbar > .nav-items > ul{
    display: flex;
    list-style: none;
    justify-content: start;
    align-items: center;
    gap: 50px;
}
.navbar > .nav-items > ul > li:hover{
    border-bottom: 2px solid palevioletred;
}
.navbar > .nav-items > ul > li >a{
    color: darkred;
    text-decoration: none;
}
.navbar > .last-nav-item{
    display: flex;
    cursor: pointer;
        list-style: none;
        justify-content: end;
        align-items: center;
        gap: 12%;
        width: 30%;
        margin-right: 5%;
        color: darkred;
}
.navbar > .last-nav-item > i{
    border-bottom: 2px solid palevioletred;
}
.log-in{
    padding: 2%;
    border-radius: 7px;
    border: none;
    background-color: #ff6892;
    width: 30%;
    height: 5vh;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

 /* BODY */

 .body{
    padding: 0.5%;
    /* height: 100vh; */
 }
 /* .body > .top{ */
    /* height: 10vh; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* padding: 0 10%; */
    /* align-items: center; */
 /* } */
 .body > .top >.search{
    width: 55%;
    margin: 1%;
    padding: 15px;
    position: relative;
 }
 .body > .top > .search >  input{
    padding: 0px 10px;
    width: 45%;
    height: 6vh;
    position: relative;
    border: none;
    border-radius:16px; 
 }

 .body > .top > .search > .search-btn{
    border: none;
    cursor: pointer;
    border-radius: 16px;
    width: 4vw;
    height: 5vh;
    padding: 2px 5px;
    position: absolute;
    left: 41%;
    top: 30%;
    transform: translate(-20%, -7%);
    background-color: #ff6892;
    color: white;
 }
.body> .top > .title{
    letter-spacing: 2px;
    width: 28%;
    padding: 5% 3% 0 3%;
    font-size: 35px;
}
.body> .top > .title > span{
    color: #ff6892;
    
}
.body> .top::after{
    content: "";
 
 background: url("https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?cs=srgb&dl=pexels-pixabay-262978.jpg&fm=jpg");
    width: 35vw;
    background-position: center;
    background-size: cover;
    height: 45vh;
    position: absolute;
    right: 1%;
    top: 15%;
    opacity: 0.65;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}

.res-btn{
    border: none;
    cursor: pointer;
    border-radius: 16px;
    width: 15vw;
    height: 6.5vh;
    font-size: 15px;
    background-color: #ff6892;
    color: white;
    margin-left: 2%;
}
/* RESTAURANT CONTAINER  */

.res-container{
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
 .res-card{
    text-align: center;
    cursor: pointer;
    background-color: #fdd5e1;
    border-radius: 7px;
    width: 250px;
    height: 350px;
    margin: 10px 10px;
    padding: 2%;
}
 .res-card > img{
    width: 240px;
    height: 160px;
    border-radius: 7px;
}
.res-card:hover{
    scale: 0.98;
    transition: 0.20s;
}
.res-card > h2 ,h3{
    margin: 4px;
    text-align: start;
    color: darkred;
}
.res-card > h3{
    word-wrap: break-word;
    color: darkred;
    color: darkslategrey;
    /* color: darkgray; */
}

a {
    text-decoration: none;
}
/* SHIMMER */

.shimmer-container{
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: center;
}
.shimmer-cards{
    text-align: center;
    cursor: pointer;
    background-color: #fdd5e1;
    border-radius: 7px;
    width: 15%;
    height: 250px; 
    margin: 10px 10px;
    padding: 2%;
}

/* ERROR CONTAINER  */

.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.error-container > img{
    height: 80vh;
}
.take-me-home {
    position: absolute;
    top: 74%;
    width: 200px;
    height: 35px;
    background: black;
    border: 1px solid cyan;
    border-radius: 7px;
    box-shadow: 0 0 10px cyan;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}

/* RESTAURANTMENU CARD  */

.resmenu-container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 3%;
        /* height: 100vh; */
}
.menudata-container{
    background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
    padding: 5px 16px 25px;
    width: 70%;
    /* border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px; */
    /* border: 1px solid gray; */
    border-radius: 36px;
    box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.small-container{
    display: flex;
}
.small-first {
    width: 2vw;
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-first  > .dotOne , .dotTwo{
    width: 8px;
    height: 8px;
    background-color: darkgrey;
    border-radius: 50%;
    padding: 5%;
}
.small-first  > .line{
    width: 2px;
    height: 20px;
    background-color: darkgrey;
}

.cuisines > a{
    color: orangered;
    text-decoration: underline orangered;
}
.head{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.head > img {
    width: 40px;
    height: 35px;
}

/* .changedImg{
    filter: hue-rotate("245deg");
} */
/* 0ffer-contaienr  */

.offer-contaienr{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    overflow: hidden;
    width: 70%;
}
.arrow{
    margin: 0 2px;
    border-radius: 7px;
    border: 1px solid;
    width: 3vw;
    cursor: pointer;
}
.offer-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.offerData{
    display: flex;
    flex-wrap: wrap;
}
.mini-container{
    margin: 0% 3% 1% 0%;
    border: 1px solid gray;
    border-radius: 36px;
    padding: 5px 35px;
    width: 200px;
    cursor: pointer;
    line-height: 4px;
    text-align: start;
}
.mini-container > p:nth-child(1){
    font-weight: 800;
    font-size: 18px;
}
.mini-container > p:nth-child(2){
    color: gray;
}
/* recommended-container */
.newlyLaunched-container{
    padding: 0px 16px 16px;
    border-radius: 36px;
   
    width: 70%;
    margin-top: 5%;
}
.data-container{
    border-bottom: 1px solid gray;
    
    display: flex;
    justify-content: space-between;
}
.data-container >div > h2{
    color: darkred;
}
.data-container>div > p:nth-child(3){
    color: gray;
}
.data-container >img{
    width: 150px;
    margin: 2%;    
    border-radius: 10px;
}
